<p> <% @team_players.each do |player| %>
    <%= link_to player.name, "/players/#{player.id}" %>
  <% end %>
</p>

<p> Average Player Height for The <%= @team_player.name %>: <%= @team_player.average_team_height %>cm</p>