<p> <% @team_players.each do |player| %>
    <%= link_to player.name, "/players/#{player.id}" %>
  <% end %>
</p>

<%= link_to "New #{@team.name} Player", "/teams/#{@team.id}/players/new" %>

<p> Average Player Height for The <%= @team.name %>: <%= @team.average_team_height %>cm</p>